ul.feed-container{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: #fff;
  border : 1px solid #ccc;
  padding: 0;
  margin: 0 2rem 4rem 2rem;
}
.feed-mail-item{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  border-top: 0;
  cursor: pointer;
  align-items: center;
  -webkit-box-shadow: 2px 0px 1px 0px rgba(0,0,0,0.1);
  text-transform: capitalize;
  background-image: linear-gradient(#c2dbff, #c2dbff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s ease-in-out;
}
.feed-mail-item::before{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  content: '';
  background: red;
  opacity: 0.3;
  width: 0;
  height: 100%;
}
.feed-mail-header{
  background: rgba(204,204,204,0.4);
  font-weight: bold;
}
.feed-mail-item.checked{
  background-size: 100% 100%, auto;
}
.feed-mail-checkbox{
  flex-basis: 8%;
}
.feed-mail-sender{
  flex-basis: 32%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.feed-mail-subj{
  flex-basis: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mail-details-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 60vh;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  background: #fff;
}
.mail-details{
  display: flex;
  padding: 1rem 0rem;
  border-bottom: 1px solid #ccc;
}
.mail-detail-body{
  padding: 2rem;
  padding: 2rem 0 1rem 0;
}
