.App {
  /* text-align: center; */
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.grid{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.App:after{
  content: "";
  background: url('./bg.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
h1{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
.nav-container{
  display: flex;
  flex-direction: row;
  background: #eee;
}
.navigation-bar{
  padding: 1rem 0;
}
.navigation-bar a{
  font-size: 2rem;
}
/* .nav-item{
  flex: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  color: #490905;
  padding: 2rem 0;
}*/
/* .navigation-bar a span:last-child{
  background-image: linear-gradient(#490905, #490905);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-in-out;
}
.navigation-bar a span:last-child:hover{
    background-size: 100% 2px, auto;
} */
/* .navigation-bar{
    padding: 1rem 0;
}
.navigation-bar a{
  font-size: 1.5rem; */
  /* color: #2196f3; */
/* } */
